.loginOverlay.hidden{
  opacity: 0;
  visibility: hidden;
}
.loginOverlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  visibility: visible;
  transition: all 0.5s;
  background-color: rgba(0, 0, 8, 0.8);
}

.loginContainer {
  width: 35vw;
  height: 35vw;
  background-color: #CBC6C6;;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  max-width: 800px;
  max-height: 900px;
}

.loginContainer h1 {
 color: black;
 font-family: 'Anton';
  font-weight: 600;
  font-size: 3.5rem;
}


.closeIcon{
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  cursor: pointer;
  opacity: 0.6;
  transition: all 0.5s;

}

.closeIcon:hover{
  opacity: 1;
}

@media (max-width: 480px) {
.loginContainer{
  width: 90vw;
  height: 90vh;
}

}