.loginOverlay.hidden{
  opacity: 0;
  visibility: hidden;
}
.loginOverlay {
  width: 100vw;
  height: 100vh;
  background-color: rgba(32, 13, 4, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  visibility: visible;
  transition: all 0.5s;
  background-color: rgba(244, 185, 74, 0.3);
}

.loginContainer {
  width: 30vw;
  height: 35vw;
  background-color: #200d04;
  border-radius: 2rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  max-width: 800px;
  max-height: 900px;
}

.loginContainer h1 {
  background: linear-gradient(to left, #f4b94a, #fef7be, #9e4f1d);
  -webkit-background-clip: text; /* For WebKit browsers like Chrome and Safari */
  color: transparent;
  font-weight: 600;
  font-size: 3rem;
}


.closeIcon{
  font-size: 2rem;
  color: #f4b94a;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  cursor: pointer;
  opacity: 0.6;
  transition: all 0.5s;

}

.closeIcon:hover{
  opacity: 1;
}

@media (max-width: 480px) {
.loginContainer{
  width: 90vw;
  height: 90vh;
}

}