
@tailwind base;
@tailwind components;
@tailwind utilities;

.main{
  width: 100vw;
  height: 100vh;

  background: #0e0e0a;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.background-overlay{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  object-fit: cover;
}

.dark{
  background: #200d04;
}

.home-button{
  font-family: 'Anton';
  font-size: 2.5rem;
  text-transform: uppercase;
  background: linear-gradient(to right, #a77c13, #a77c13, #f8da5b, #efb810, #a77c13);
  padding: 0.3rem 3rem;
  cursor: pointer;
  position: fixed;
  right: 0;
  z-index: 20;
  bottom:8rem
}
.option-dashboard{
  width: 100%;
  background-color: transparent;
  border: 1.8pt solid #EFB810;
 height: fit-content;
  margin-bottom: 1rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.option-dashboard .content{
width: calc(100% - 5rem);
height: 100%;
display: flex;
flex-direction: column;
justify-content: space-around;
}

.option-dashboard .content h2{
  font-size: 1.2rem;
  color: white;
  font-weight: 600;
  font-family: 'Anton';
  text-transform: uppercase;
}

.option-dashboard .content h4{
  font-size: 1rem;
  color: #EFB810;
  font-weight: 600;
  font-family: 'Montserrat';
  margin-bottom: 0.5rem;

}

.option-dashboard .content h3{
  font-size: 0.8rem;
  color: white;
  font-weight: 500;
}

.option-dashboard .content .button-container{
  width:100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.option-dashboard .content button{
  background-color: #EFB810;
  padding: 0.3rem 0.8rem;
  font-size: 1rem;
  color: #000;
  font-family: 'Anton';
  text-transform: uppercase;
  transition: all 0.5s;
  
}

.option-dashboard .content button:disabled{
  background-color: transparent;
  padding: 0.3rem 0.8rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  color: #EFB810;
font-style: italic;
font-family: 'Montserrat';
  transition: all 0.5s;
  opacity: 0.8;
}


.option-dashboard .content button:hover{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.empty-team{

  height: 100%;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

}

.empty-team h2{
  font-size: 1.5rem;
  color: white;
  opacity: 0.8;
  font-style: italic;
}


html{
  overflow: hidden;

  
}

body{
  font-family: 'Montserrat' !important;
}

.home{
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  padding: 5rem;
  padding-top: 10rem;
  justify-content: space-between;
  align-items: center;
  position: relative;

 
}

.home-background{
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;

}

.register-form.payment-form{
height: 30vh;
transition: all 0.5s;
 
}

.gallery-section{
  width: 100vw;
  min-height: 40vh;
  background-color: white;
  display: flex;
  flex-direction: row;
}

.gallery-section .title{
  width: 24vw;
  background-color: #EFB810;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  z-index: 20;
  
}

.gallery{
  width: 75vw;
  display: flex;
  flex-direction: row;
  margin-left: 0.25vw;
  overflow: hidden;
  position: relative;
  
}

.gallery img{
  width: 24vw;
  margin: 0 0.125vw;
  transition: all 1s;    
  object-fit: cover;
  height: 100%;
  max-width: none;
}

.gallery-section .title h2{
  font-size: 4rem;
  font-family: 'Anton';
  text-transform: uppercase;
}

.gallery-section .title img{
  width: 3rem;
 opacity: 0.6;
 cursor: pointer;
 transition: all 0.5s;
}

.gallery-section .title img:hover{
opacity: 1;
width: 3.5rem;
}

.arrow-gallery{
  width: 3rem !important;
  object-fit: contain !important;
  position: absolute;
  height: fit-content !important;
  right: 1rem;
  top: calc(20vh - 3rem);
 opacity: 0.6;
 cursor: pointer;
 transition: all 0.5s;
}

.arrow-gallery:hover{
opacity: 1;
width: 3.5rem !important;
}
.ElementsApp input{

}

/* PaymentForm.css */
.ElementsApp {
  /* Change the color of the icons */
}
.card-element-container{
  font-family: 'Poppins' !important;


}
.register-form.payment-form .form-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.register-form.payment-form .form-container h3{
font-size: 2rem;
color: white;
margin-top:2rem;
}

.register-form.payment-form .gold-button{
  margin-bottom: 2rem;
}
.gold-button{
  font-family: 'Anton';
  font-size: 1.5rem;
  text-transform: uppercase;
  background: linear-gradient(to right, #a77c13, #a77c13, #f8da5b, #efb810, #a77c13);
  padding: 0.3rem 3rem;
  cursor: pointer;
  transition: all 0.5s;

}

.gold-button:hover{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 7px 29px 0px;
  font-size: 1.55rem;
}

.gold-button3{
  font-family: 'Anton';
  font-size: 2rem;
  text-transform: uppercase;
  background: linear-gradient(to right, #a77c13, #a77c13, #f8da5b, #efb810, #a77c13);
  padding: 0.3rem 3rem;
  cursor: pointer;
  transition: all 0.5s;
  margin-top: 0.5rem;

}

.gold-button3:hover{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 7px 29px 0px;
  font-size: 2.1rem;
}

.gold-button2{
  font-family: 'Anton';
  font-size: 1.5rem;
  text-transform: uppercase;
  background: #EFB810;
  padding: 0.2rem 3rem;
  cursor: pointer;
  transition: all 0.5s;

}

.gold-button2:hover{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 7px 29px 0px;
  font-size: 1.55rem;
}

.secondary-button{
  height: fit-content;
  border-radius: 0.4rem;
  background: transparent;
  text-transform: uppercase;
  font-weight: bold;
  transition: all 0.5s;
  font-size: 1.2rem;
  width: fit-content;
  color: white;
  opacity: 0.6;
}

.secondary-button:hover{

opacity: 1;
}

h1 {
  font-size: 6rem;
  background: linear-gradient(to right, #f4b94a, #fef7be, #9e4f1d);
  -webkit-background-clip: text; /* For WebKit browsers like Chrome and Safari */
  color: transparent;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
}



.form-title{
  color: white;
}

.form-subtitle{
  color: white;
  opacity: 0.5;
}

.input{
  background-color: white;
  padding: 0.8rem 0.5rem;
  outline: none !important;
  border: none !important;
  color: #0E0E0A;
  border-radius: 0;
  font-family: 'Montserrat';
}



.inscription-banner{
  background-color: #EFB810;
  width: 80vw;
  margin-bottom: 1rem;
  padding: 0.5rem 0.8rem ;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.inscription-banner h2{
  font-size: 0.8rem;
  color: #000;
  max-width: 70%;
  
}

.inscription-banner button{
  background-color: #000;
  color: #EFB810;
  padding: 0.8rem;
  font-size: 0.8rem;
transition: all 0.5s;
font-family: 'Anton';
text-transform: uppercase;
}

.inscription-banner button:hover{
  background-color: #200d04;
  color: #f4b94a;
  padding: 0.8rem;
  font-size: 0.8rem;

  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.datepicker input{
  background-color: white!important;
  padding: 0.8rem 0.5rem;
  padding-left: 2.5rem;
  outline: none !important;
  border: none !important;
  color: #CBC6C6 !important;
  border-radius: 0 !important;
}
.datepicker input::placeholder{
  color: #CBC6C6
}

.input::placeholder{
  color: #CBC6C6
  
}

.datepicker > .relative > .absolute > div{
  background-color: #000 !important;
  color: white !important;
}

.datepicker > .relative > .absolute > div > div:first-of-type > div > button{
background-color: #000 !important;
color: white !important;
}

.datepicker > .relative > .absolute > div > div:last-of-type >button:first-of-type{
  background-color: #EFB810 !important;
  color: white !important;
  }
  .datepicker > .relative > .absolute > div > div:last-of-type >button:last-of-type{
    background-color: #000 !important;
    color: white !important;
    }

    .datepicker > .relative > .absolute > div > div:nth-of-type(2) > div:last-of-type > button{
     
      color: white !important;
      }
    .datepicker > .relative > .absolute > div > div:nth-of-type(2) > div:last-of-type > button.bg-cyan-700{
      background-color: #EFB810 !important;
      color: white !important;
      }

      .datepicker > .relative > .absolute > div > div:nth-of-type(2) > div:last-of-type > button:hover{
        background-color: #EFB810!important;
        color: white !important;
        opacity: 0.8;
        }
  
.register-form-container{
  width: 100vw;
  background-color: rgba(14, 14, 10, 0.8);
  position: fixed;
  z-index: 100000;
  display:flex ;
  justify-content: center;
  align-items: center;
  height:100vh;
  overflow: hidden;


 
}

.register-form{
 
  border-radius: 2rem;
  height: 70vh;
  width: 80vw;
  display: flex;
  flex-direction: row;
  overflow: hidden;
background-color: transparent;

}

.form-title-container{

width: 20vw;
min-width: 20vw;
display: flex;
align-items: center;
justify-content: center;
height: 100%;
background-color: #EFB810;


}

.form-title-container h2{
font-size: 3rem;
color:#000;
font-family: 'Anton';
text-align: center;
line-height: 1;
text-transform: uppercase;

}

.form-container{
  padding: 2rem;
  border-radius: 2rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  overflow-y: scroll;
  border: 1.8pt solid #EFB810;
  width: 100%;
  max-height: 70vh;

}

.form-container {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.form-container::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

.column-55{
  width: 60%;
  height: 100%;
  background-color:  #0e0e0a;
  overflow: hidden;
  z-index: 10;
  
}
.column-55-2{
  width: 60%;
  height: 100%;
  border-radius: 2rem;
  overflow: hidden;
  
}
.column-55-2 .form-container{
  border: none !important;
}
.column-55 video{
width: 100%;
height: 100%;
object-fit: cover;
z-index: 100;
}

.column-45{
  width: 38%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 10;
  padding: 2rem;
  background-color: rgba(56,56,56,0.65);
}

.column-45-2{
  width: 33%;
  height: 100%;
  border-radius: 2rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;

}

.spacebetween{
  justify-content: space-between;
}

.column-45 .row{

  width: 100%;
  height: 48%;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.tour-section{
  width: 100vw;
  min-height: 40vh;
  background-color: #0E0E0A;
  background-image: url('/World Cup - Web HOME_tour section background.webp');
  background-size: cover;
  background-position: right bottom;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;

}

.tour-section .tour-content{
  width: 48%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.tour-section h2{
  color: #EFB810;
  font-size: 3rem;
  font-family: 'Anton';
  text-transform: uppercase;
  text-align: right;
}

.tour-section button{
  font-family: 'Anton';
  font-size: 2.5rem;
  text-transform: uppercase;
  background: linear-gradient(to right, #a77c13, #a77c13, #f8da5b, #efb810, #a77c13);
  padding: 0.3rem 3rem;
  cursor: pointer;
 margin-top: 1rem;
}

.tour-section h3{
  color: white;
  font-size: 1rem;
  font-family: 'Montserrat';
  text-align: right;
}
.column-45 .row div{

  bottom:0;
  left:0;
  color: white;
  width: 100%;
  height: 65%;

  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}
.column-55 div{
  position: absolute;
  bottom:0;
  left:0;
  color: white;
  /* background-color: rgba(32, 13, 4, 0.5); */
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 0.5rem;

}

.column-45 .row div h2,h4{
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2;
  font-family: 'Anton';
  text-transform: uppercase;
  margin-top: 1rem;
}

.column-45 .row div h4{
text-align: right;
}

.column-45 .row div h3{
  font-size: 1rem;
  font-family: 'Montserrat';
}

.column-45 .row img{
  width: 100%;
  height: 100%;
  object-fit: cover;

}
.header-dashboard{
  background-color: transparent;
  width: 80vw;
  min-height: fit-content;
  display: flex;
  padding: 1rem 0;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.dashboard{
  width: 100vw;
  min-height: 100vh;
  height: fit-content;
  display: flex;
  flex-direction: column;

  margin-top: 8rem;
  justify-content: flex-start;
  align-items: center;
  position: relative;
 
  
}

.header-dashboard h2{
  /* background: linear-gradient(to left, #f4b94a, #fef7be, #9e4f1d);
  -webkit-background-clip: text; 
  color: transparent; */
  color: white;
  font-size: 2.5rem;
  text-align: left;
  font-family: 'Anton';
  text-transform: uppercase;
}

.header-dashboard h3{
  /* background: linear-gradient(to left, #f4b94a, #fef7be, #9e4f1d);
  -webkit-background-clip: text; 
  color: transparent; */
  color: #EFB810;
  font-size: 1rem;
  text-transform: uppercase;
  font-style: italic;
}

.gradient-circle {
  width: 8rem;
  min-width: 8rem;
  height: 8rem;
  min-height: 8rem;
  border-radius: 8rem;
  background-color: #EFB810;
border-radius: 50em;
border: 4px solid transparent;
margin-bottom: 2rem;
overflow: hidden;
display: flex;
justify-content: center;
align-items: center;

}



.gradient-circle img{
  width: 7rem;
  min-width: 7rem;
  height: 7rem;
  min-height: 7rem;
  border-radius: 7rem;
  object-fit: cover;
}


.gradient-circle2 {
  width: 4rem;
  min-width: 4rem;
  height: 4rem;
  min-height: 4rem;

border-radius: 50em;
border: 4px solid transparent;
overflow: hidden;
display: flex;
justify-content: center;
align-items: center;
}



.gradient-circle2 img{
  width: 4rem;
  min-width: 4rem;
  height: 4rem;
  min-height: 4rem;

  object-fit: contain;
}

.gradient-circle .icon-success{
  font-size: 5rem;
  background: linear-gradient(to right, #f4b94a, #fef7be, #9e4f1d);
  -webkit-background-clip: text; /* For WebKit browsers like Chrome and Safari */
  color: #f4b94a;
  opacity: 0.5;
}

.row{
  display: flex;
  width: 100%;
  height: fit-content;
}

.row-title{
  min-width: 30%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #EFB810;
  font-size: 2rem;
  color: #000;
  font-family: 'Anton';
  font-weight: 500;
}

.dashboard .row{
  width: 80vw;
  margin-top: 1rem;


}
.dashboard .row .column-55{
  min-height: 30vh;
  max-height: 80vh;
  width: 65%;
  height: fit-content;
  display: flex;
  flex-direction: row;
}

.dashboard .row .column-55-2{
  min-height: 30vh;
  max-height: 80vh;
  width: 65%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  border: 1.5pt solid #EFB810;
}

.no-show {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out; /* Use max-height for smooth transition */
  padding: 0;
  margin: 0 !important;
}

.no-show.gap-y-8{
  row-gap: 0;

}

.show {
  max-height: 1000px; /* Adjust this value based on your content */
  transition: max-height 0.5s ease-in; /* Use max-height for smooth transition */
}

.accordion-button-container{

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.accordion-button{

  border-radius: 100vw;
  width: 1.8rem;
  min-width: 1.8rem;
  min-height: 1.8rem;
  height: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0.8;
  transition: all 0.5s;
}

.accordion-icon{
  color:white !important;
  width: 80%;
}

.accordion-button:hover{
  opacity: 1;
}

.accordion{
  padding: 0 !important;
  margin: 0 !important;
  margin-top: 1rem !important;
}

.tour-section img{

  object-fit: cover;
  height: 100%;

}
@media (max-width: 480px) {
  .home{
    padding: 1rem;
    padding-top: 8rem;
    flex-direction: column;
    height: fit-content;
    min-height: 100vh;
  }
  .header-dashboard{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
  }

  .dashboard{
    margin-top: 5rem;
    min-height: calc(100vh + 8rem);
  }

  .header-dashboard h2{
    text-align: center;
  }
  .gradient-circle{
    margin-right: 0;
    margin-bottom: 1rem;
  }
  .header-dashboard h3{
    text-align: center;
  }
  .column-55{
    width: 100%;
    height: 48vh;
  }

  .column-55-2{
    width: 100%;
    height: 68%;
  }

  .column-45{
    flex-direction: row;
    width: 100%;
    height: fit-content;
    margin-top: 1rem;
    padding: 1rem;
    height: 50vh;

  }
  .column-45 .row img{
    height: 100%;
  }





  .column-45 .row{
    height: 100%;
    width: 48%;
  }

  .navbar{
    display: none;
  }

  .register-form{
    flex-direction: column;
    height: 90vh;
    width: 90vw;
  }
  .form-title-container{
    width: 100%;
    height: 20vh;
    min-height: 20vh;
  }
  .column-45 .row div{
    bottom:0;
    left:0;
    color: white;
    width: 100%;
    height: 100%;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  
  }
  .dashboard .row .column-55-2{
    width: 100%;
    height: fit-content;

  }
  .form-container{
    padding: 20px;
  }
  
  .column-45 .row div h2,h4{
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.2;
  }
  
  .column-45 .row div h4{
  text-align: right;
  }
  
  .column-45 .row div h3{
    font-size: 0.865rem;
  }

  .dashboard .row{
    flex-direction: column;
  }
  .column-45-2{
    width: 100%;
    margin-top: 1rem;
  }

  .gallery-section{
    justify-content: space-between;
  }
  .gallery-section .title{
    width: 49vw;
  }

  .gallery{
    width: 49vw;
 
  }

  .gallery img{
    width: 100%;
  }

  .gallery-section .title h2{
    font-size: 2rem;
  }

  .gallery-section .title img{
    width: 2rem;
  }
  .gallery-section .title img:hover{
    width: 2.5rem;
  }

  .arrow-gallery{
    width: 2rem !important;
  }
  .arrow-gallery:hover{
    width:  2.5rem !important;
  }
.home-button{
  display: none;
}

.tour-section h2{
  font-size: 1.8rem;
}

.tour-section h3{
  font-size: 0.8rem;
}

.tour-section button{
  font-size: 1.5rem;
  padding: 0.3rem 1rem;
}
.dashboard .row{
  width: 90vw;
}

.tour-section > div:last-of-type{
  height: 100%;
  width: 46%;
}
}


@media (min-width: 2000px) {
  .register-form {
    max-width: 60vw;
    border-radius: 4rem;

  }

  .form-title-container{
    min-width: 15vw;
    width: 15vw;
  }
  .form-title-container h2{
    font-size: 2.5vw;
  }
.form-container{
  padding: 5rem;
  border-radius: 4rem;
}





}