.loginOverlay.hidden{
  opacity: 0;
  visibility: hidden;
}
.loginOverlay {
  /* width: 100vw;
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh; */
  background-color:transparent;
position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  visibility: visible;
  transition: all 0.5s;


}

.loginContainer {
  width: 40vw;
  min-height: 35vw;
  height: fit-content;
  background-color: transparent;
  border-radius: 2rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  max-width: 800px;


}

.loginContainer2{

  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.loginContainer h1 {
 color: #FFF;
  font-size: 2.5rem;
  text-align: center;
  font-family: 'Anton';
line-height: 1.2;
  letter-spacing: 1.5pt;
}

.loginContainer img{
  width: 8rem;
  height: 8rem;
  margin-bottom: 1rem;
  object-fit: contain;
}

.overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: 0;
}

.closeIcon{
  font-size: 2rem;
  color: #f4b94a;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  cursor: pointer;
  opacity: 0.6;
  transition: all 0.5s;

}

.closeIcon:hover{
  opacity: 1;
}

@media (max-width: 480px) {
.loginContainer{
  width: 90vw;
  height: 90vh;
}

}